* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.block-left{
	width:50%;
	height:100%;
	overflow:auto;
	float:left;
	background-color: white;
	cursor: pointer;
  	transition: all 750ms ease;
}
.block-right{
	width:50%;
	height:100%;
	overflow:auto;
	background-color: black;
	cursor: pointer;
 	transition: all 750ms ease;
}
.block-right:hover{
	background-color: white;
}
.block-left:hover{
	background-color: black;
}
#sideText{
	font-size: 40px;
	position: absolute;
	color: orange;
	top: 38%;
	left: 33%;
}
#dSideM{
	width:100%;
	height:93.5%;
	overflow:auto;
	background-color: black;
 	transition: all 750ms ease;
}
#dSideF{
	width:100%;
	height:6.5%;
	overflow:auto;
	background-color: black;
	transition: all 750ms ease;
	margin: 0;
	padding: 0;
}
.equip{
	text-align: center;
	font-size: 35px;
	color: orange;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}
li {
	float: right;
	margin: 0;
	padding: 0;
	float: right;
}  
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover:not(.active) {
	background-color: gray;
  }
  
  .active {
	background-color: orange;
  }
body {
	text-align: center;
  }
  
.wrapper {
	display: flex;
	justify-content: left;
	align-items: center;
	float: left;
	width: 17%;
	height: 80%;
	color: orange;
  }
  
  .wrapper i {
	padding-left: 10px;
	padding-right: 7px;
	text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
	transition: all ease-in-out 150ms;
  }
  .wrapper a:nth-child(1) {
	color: orange;
  }
  .wrapper a:nth-child(2) {
	color: orange;
  }
  .wrapper a:nth-child(3) {
	color: orange;
  }
  .wrapper i:hover {
	margin-top: -3px;
	text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}